:root {
    --nav-color: #675d50;
    --nav-text: #fff;
    --primary-color: #f3deba;
    --secondary-color: #abc4aa;
    --hover-color: #a9907e;
  }

body {
    margin: 0%;
    color: #fff;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;


    width: auto;
    margin: 0px;

    background-color: black;
    padding-left: 10%;
    padding-right: 10%;

    
  }

  .navbar ul {
    display: flex;
    list-style-type: none;

  }

  .navbar ul li {
    padding: 10px;
    margin: 0 10px;
  }

  .navbar ul li a {
 text-decoration: none;
 color: white;
 font-weight: bold;
  }

  .top-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
  }

  .mid-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    display: flex;

    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: black;
    margin-bottom: 5%;
  }

  article h3 {
    text-align: center;
    

  }

  article .sub-title {
    margin: 0px;
  }

  article .info {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
  }

  article .insert-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;

    border: 1px gray;
    
    border-style: solid;
    
  }


  article .insert-section img {

    margin-bottom: 5px;

 
    height: 400px;
    width: 600px;
  
  }



  footer {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    width: auto;
    padding: 20px;
    
  }
  